//Reset
body, h2, ul{
		margin: 0;
		padding: 0;
		font-weight: inherit;
}

ul {
	list-style-type: none;
}

img {
	display: block;
}

//Styles
body {
	background: #111010;
	font-size: 16px;
	font-family: 'Lato', 'sans-serif';
	font-weight: 100;
	color: #F0F0F0;
	padding-top: 1em;
}


// Attributes
.centered {
	margin: auto;
}

.margin-bottom {
	margin-bottom: 1em;
}

// Specifics 
.container {
	width: 960px;
}

.header {
	h2 span {
		color: #B0B0B0;
	}
}

.slider li {
	margin-bottom: 1em;
}