//Reset
body, h2 {
		margin: 0;
		font-weight: inherit;
}

//Styles
body {
	background: #111010;
	font-size: 16px;
	font-family: 'Lato', 'sans-serif';
	font-weight: 100;
	color: #F0F0F0;
	padding-top: 1em;
}

// Specifics
.container {
	max-width: 60em;
	height: 500px;
	// background: #222222;
}



.centered {
	margin: auto;
}